
AUTH_CLIENT_ID = 'catalog'
AUTH_CLIENT_SECRET = 'ItsMySecret'

# `openssl rand -base64 32`
##AUTH_SECRET=zHe8c/tWWgICMKv53o7xZt8U9+Xiikv7b51w8iiLP5s=
#NEXT_PUBLIC_GRAPHQL_URL=https://gw.app.forba.se/gateway/graphql
NEXT_PUBLIC_GRAPHQL_URL=https://gw.test.forba.se/gateway/graphql
#NEXT_PUBLIC_GRAPHQL_URL=https://gw.dev.forba.se/gateway/graphql

#NEXT_PUBLIC_API_URL=http://localhost:3000
#NEXT_PUBLIC_API_URL=https://catalogapp.test.forba.se

AUTH_URL=http://localhost:3000
#AUTH_URL=https://catalogapp.app.forba.se
#AUTH_URL=https://catalogapp.test.forba.se
